<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    {% load staticfiles %}
    <!-- <script src="{% static 'js/virtualjoystick.js' %}"></script> -->
    <script src="{% static 'js/jquery_min.js' %}"></script>

    
    <style>
    body {
      overflow  : hidden;
      padding   : 0;
      margin    : 0;
      background-color: #BBB;
    }
    #info {
      position  : relative;
      top   : 0px;
      width   : 100%;
      padding   : 5px;
      text-align  : center;
    }
    #info a {
      color   : #66F;
      text-decoration : none;
    }
    #info a:hover {
      text-decoration : underline;
    }
    .container {
      width   : 500px;
      height    : 1500px;
      overflow  : hidden;
      padding   : 0;
      margin    : 0%;
      -webkit-user-select : none;
      -moz-user-select  : none;
      display: flex;
    }
    
    </style>
</head>
<body>
{% block content %}

    <h1>GUI</h1>
    <h1>Channeling</h1>
    <form action="" method="POST"> 
    {% csrf_token %}
        {{ form.as_p }}
    <label>Funnel</label><input type="checkbox" name="channeling" class="on-off" value="funnel" ></input>
    <input type="submit" name="channeling" value="push button 1" ></input>
    <input type="submit" name="channeling" value="push button 2" ></i></input>
    <input type="submit" name="channeling" value="push button 3" ></input>
    <input type="submit" name="channeling" value="push button 4" ></input>
    <input type="submit" name="channeling" value="push button 5" ></input>
    <input type="submit" name="channeling" value="push button 6" ></input>
<!--     <input type="submit" name="channeling" value="Stop_All" ></input> -->
    </form>
    {{output1}}

    <h1>Raman</h1>
    <form action="" method="POST"> 
    {% csrf_token %}
        {{ form.as_p }}
    <label>laser</label><input type="checkbox" name="raman" class="on-off" value="laser" ></input>
    <label>servo</label><input type="checkbox" name="raman" class="on-off" value="servo" ></input>
    <!-- <input type="submit" name="raman" value="Stop_All" ></input> -->
    </form>
    {{output2}}
    <div id="microscope"><h1>Microscope</h1>
    <form action="" method="POST"> 
    {% csrf_token %}
        {{ form.as_p }}

    <input type="submit" name="microscope" value="dummy" style="display: none;"></input> <!-- this dummy button gets sent when text input is entered -->
    <label>Actuator</label>
    <label>+1</label><input type="radio" name="microscope" class="on-off" value="+1" ></input>
    <label>0</label><input type="radio" name="microscope" class="on-off" value="0" ></input>
    <label>-1</label><input type="radio" name="microscope" class="on-off" value="-1" ></input>
    <br>
    <label>servo angle</label>
    <span id="microscope_1">(current: {{ servo_angle }})</span>
    <input type="text" name="microscope" value={{ servo_angle_input }} ></input>
    <br>
    <!-- <input type="submit" name="microscope" value="Stop_All" ></input> -->
    </form>
    {{output3}}</div>

    <div id="stewart">
    <h1>Stewart</h1>
    <form action="" method="POST"> 
    {% csrf_token %}
        {{ form.as_p }}
    <input type="submit" name="stewart" value="dummy" style="display: none;"></input> <!-- this dummy button gets sent when text input is entered -->
    val1
    <span id='stewart_1'> ({{ val1 }}) </span>
    <input type="text" name="stewart" value={{ val1_inp }} ></input>

    val2
    <span id='stewart_2'>({{ val2 }})</span>
    <input type="text" name="stewart" value={{ val2_inp }} ></input>

    <label>val3</label>
    <span id='stewart_3'>({{ val3 }})</span>
    <input type="text" name="stewart" value={{ val3_inp }} ></input>
    <br>
    <label>val4</label>
    <span id='stewart_4'>({{ val4 }})</span>
    <input type="text" name="stewart" value={{ val4_inp }} ></input>

    <label>val5</label>
    <span id='stewart_5'>({{ val5 }})</span>
    <input type="text" name="stewart" value={{ val5_inp }} ></input>

    <label>val6</label>
    <span id='stewart_6'>({{ val6 }})</span>
    <input type="text" name="stewart" value={{ val6_inp }} ></input>
    <br>
    <label>vertical motion(-2 to +2)</label>
    <span id='stewart_7'>({{ vertical_motion }})</span>
    <input type="text" name="stewart" value={{ vertical_motion_inp }} ></input>
    <label>roll</label>
    <span id='stewart_8'>({{ roll }})</span>
    <input type="text" name="stewart" value={{ roll_inp }} ></input>
    <label>random</label><input type="checkbox" name="stewart" class="on-off" value="random" ></input>    
    <!-- <input type="submit" name="stewart" value="Stop_All" ></input> -->
    </form>
    {{output4}}
    </div>

<!--   <div class="row server-stream">

        <div id="video_pane" style="margin: auto; border: 1px solid black; display: table;">
          
        <object type="application/x-shockwave-flash" id="flash_video_obj" name="flash_video_obj" class="video-display" data="http://192.168.0.109:8080/mjp.swf" width="1024" height="768"><param name="quality" value="high"><param name="bgcolor" value="#cccccc"><param name="allowscriptaccess" value="always"><param name="allowfullscreen" value="true"><param name="flashvars" value="cvideo=/video&amp;video=http://192.168.0.109:8080/video4flash&amp;audio=http://192.168.0.109:8080/audio.wav&amp;twa=http://192.168.0.109:8080//audioin.alaw&amp;mode=Vat&amp;wwidth=1024&amp;wheight=768&amp;debug=true"></object></div>
  </div>  -->
  
  <span id="result_1"></span>
  <br></br>
  <span id="result_2"></span>
  <div class="container" >

  </div>
  <script>
      var URL = "{% url 'bio' %}";
  </script>
  
  <script>
    // var channel_data = {}
    // var raman_data = {}
    // var microscope_data = {}
    // var stewart_data = {}
    // setInterval(function (){
    //   $('.channeling').each(function(i, obj) {
    //     //test
    //     // console.log(obj)
    //     channel_data[obj.value] = obj.checked
    //   });
    //   console.log(channel_data)

    //   $('.raman').each(function(i, obj) {
    //     //test
    //     // console.log(obj)
    //     raman_data[obj.value] = obj.checked
    //   });
    //   console.log(raman_data)

    //   $('.microscope').each(function(i, obj) {
    //     //test
    //     // console.log(obj)
    //     microscope_data[obj.value] = obj.checked
    //   });
    //   console.log(microscope_data)

    //   $('.stewart').each(function(i, obj) {
    //     //test
    //     // console.log(obj)
    //     stewart_data[obj.value] = obj.checked
    //   });
    //   console.log(stewart_data)
    //   // var data = {"channeling": channel_data,"raman": raman_data, "microscope": microscope_data, "stewart": stewart_data}
    //   $.post(URL, data);
    //   }, 110 * 1000);
    var data = {}
    setInterval(function (){
      $('.on-off').each(function(i, obj) {
        data[obj.value] = obj.checked
      });
      $.post(URL, data);
      $('#microscope_1').load(document.URL +  ' #microscope_1');
      // $('#stewart').load(document.URL +  ' #stewart');
      // $('.update').each(function(){
      //   $(this.id).load(document.URL + ' ' + $(this).attr('id'));
      //   console.log($(this.id))
      // })
      for(let i = 1; i<3; i++){
        $('#stewart_'+i.toString()).load(document.URL +  ' #stewart_'+i.toString());
      }
      // $("#stewart").load(" #stewart > *");
      }, 1 * 1000);
    // function task(e)
    // {
    //   // var data_1 = {'dataX_1': joystick1.deltaX(), 'dataY_1': joystick1.deltaY()};
    //   if(e.target.checked)
    //   {
    //     ///do post request with 1 in parameter
    //     console.log("do post request with 1 in parameter");
    //     console.log(e)
    //     // var data_1 = {e.target.name : e.target.value 
    //     // $.post(URL, data_1);
    //   }
    //   else
    //   {
    //     ///do post request with 0 parameter
    //     console.log("do post request with 0 parameter");
    //   }
    // }
    // function timedRefresh(timeoutPeriod) {
  // setTimeout("location.reload(true);",timeoutPeriod);
  
// }

// window.onload = timedRefresh(500);
  </script>
<!--  <script>
      var URL = "{% url 'index' %}";
  </script>
   <script>
      console.log("touchscreen is", VirtualJoystick.touchScreenAvailable() ? "available" : "not available");
  
      var was_pressed_1 = false
      var was_pressed_2 = false
      
      var joystick1 = new VirtualJoystick({
                      mouseSupport: true,
                      stationaryBase: true,
                      baseX: 125,
                      baseY: 300,
                      strokeStyle: 'red',
                      limitStickTravel: true,
                      stickRadius: 50
                   });

      var joystick2 = new VirtualJoystick({
                      mouseSupport: true,
                      stationaryBase: true,
                      baseX: 375,
                      baseY: 300,
                      strokeStyle: 'blue',
                      limitStickTravel: true,
                      stickRadius: 50
                   });

      // setInterval(function(){
      //   var outputEl  = document.getElementById('result_1');
      //   outputEl.innerHTML  = '<b>Result:</b> '
      //     + ' dx:'+joystick1.deltaX()
      //     + ' dy:'+joystick1.deltaY()
      //     + (joystick1.right() ? ' right'  : '')
      //     + (joystick1.up()  ? ' up'   : '')
      //     + (joystick1.left()  ? ' left' : '')
      //     + (joystick1.down()  ? ' down'   : '') 
      // }, 1/30 * 1000);

      // setInterval(function(){
      //   var outputEl  = document.getElementById('result_2');
      //   outputEl.innerHTML  = '<b>Result:</b> '
      //     + ' dx:'+joystick2.deltaX()
      //     + ' dy:'+joystick2.deltaY()
      //     + (joystick2.right() ? ' right'  : '')
      //     + (joystick2.up()  ? ' up'   : '')
      //     + (joystick2.left()  ? ' left' : '')
      //     + (joystick2.down()  ? ' down'   : '') 
      // }, 1/30 * 1000);


      setInterval(function (){
        var data_1 = {'dataX_1': joystick1.deltaX(), 'dataY_1': joystick1.deltaY()};
        var data_2 = {'dataX_2': joystick2.deltaX(), 'dataY_2': joystick2.deltaY()};
        if(joystick1.pressed()){
          $.post(URL, data_1);
          was_pressed_1 = true;}
        else if(was_pressed_1){
          $.post(URL, data_1);
          was_pressed_1 = false;}
        if(joystick2.pressed()){
          $.post(URL, data_2);
          was_pressed_2 = true;}
        else if(was_pressed_2){
          $.post(URL, data_2);
          was_pressed_2 = false;}
      }, 1/30 * 1000);    
    </script> -->



{% endblock %}
</body>
</html>
