@import url(https://fonts.googleapis.com/css?family=Lato:300);

html {
  background: radial-gradient(#000, #111); 
  height: 100%;
}

.keys {
  font-family: 'Lato', sans-serif;    
  text-align: center;
  width: 500px;
  height: 200px;
  margin: auto;
}

.arr {
  cursor: pointer;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background: grey;
  color: white;
  font-size: 50px;
  border-right: 10px solid darken(grey, 20);
  border-bottom: 10px solid darken(grey, 20);
  border-left: 10px solid darken(grey, 15);
  border-top: 10px solid darken(grey, 10);  
  display: inline-block;
  margin: 5px;
  transition: all .05s linear;
  &:active {
    border-bottom: 8px solid darken(grey, 20);
    text-shadow: 0 0 10px white, 0 0 10px white, 0 0 20px white;     transform: translate(0, 2px);
  }
  user-select: none;
}

.up {
  position: relative;
  top: -4px;
}
