<launch>
  <arg
    name="model" 
    default="$(find aspha18_urdf)/urdf/aspha18.urdf" />
  <arg
    name="gui"
    default="False" />
  <arg name="rvizconfig" 
       default="$(find urdf_tutorial)/rviz/urdf.rviz" />
  <param
    name="robot_description"
    textfile="$(find aspha18_urdf)/urdf/aspha18.urdf" />
  <param
    name="use_gui"
    value="$(arg gui)" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher">
    <param name="/use_gui" value="true"/>
    <rosparam param="/source_list">[/URDF_JSP_pub]</rosparam> 
  </node>
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find aspha18_urdf)/urdf.rviz" 
    required="true" />
  <node name="JSP"
        pkg="aspha18_urdf"
        type="JSP" 
        output="screen" 
        required="true" />

</launch>