<robot
  name="aspha19">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="7.6001" />
      <inertia
        ixx="1.3219"
        ixy="-0.073257"
        ixz="-0.18934"
        iyy="1.0538"
        iyz="-0.36601"
        izz="0.53596" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="front_left_suspension">
    <inertial>
      <origin
        xyz="-1.23489679166866E-05 0.163058831353658 -0.0345657833684734"
        rpy="0 0 0" />
      <mass
        value="0.57744954582653" />
      <inertia
        ixx="0.00522446300600572"
        ixy="-7.25178419712738E-07"
        ixz="4.08720454990073E-07"
        iyy="0.00129532500857671"
        iyz="0.00104079065669802"
        izz="0.00487938058009004" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/front_left_suspension.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/front_left_suspension.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_suspension_joint"
    type="fixed">
    <origin
      xyz="0.305657436080067 -0.209591418902104 -0.268825217684709"
      rpy="2.44522384910258 -2.22044604925031E-15 -2.35619449019235" />
    <parent
      link="base_link" />
    <child
      link="front_left_suspension" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wheelhub1">
    <inertial>
      <origin
        xyz="0.000648875833789753 0.0686096813664575 -0.00110756477743124"
        rpy="0 0 0" />
      <mass
        value="1.62631644973838" />
      <inertia
        ixx="0.0052848054988068"
        ixy="8.06169954995731E-05"
        ixz="-0.000332472035984539"
        iyy="0.00187498281661662"
        iyz="-0.000139301990045365"
        izz="0.00546490948897875" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/wheelhub1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.650980392156863 0.619607843137255 0.588235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/wheelhub1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheelhub1_joint"
    type="fixed">
    <origin
      xyz="0.0141421356237564 -0.01338888577178 -0.0387828941625671"
      rpy="-1.36024898397276 -1.0885126333381 -2.72389457568928" />
    <parent
      link="front_left_suspension" />
    <child
      link="wheelhub1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wheel1">
    <inertial>
      <origin
        xyz="-0.00219915010829275 1.12132525487141E-14 5.32907051820075E-15"
        rpy="0 0 0" />
      <mass
        value="11.5298327680895" />
      <inertia
        ixx="0.135971148628439"
        ixy="-1.95759281602272E-13"
        ixz="-9.49127689375518E-14"
        iyy="0.0976582051486342"
        iyz="2.42861286636753E-17"
        izz="0.0976582051486341" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/wheel1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/wheel1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel1_joint"
    type="fixed">
    <origin
      xyz="0 0.149 0"
      rpy="0.47657088949164 -3.53649951752236E-16 1.5707963267949" />
    <parent
      link="wheelhub1" />
    <child
      link="wheel1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="front_right_suspension">
    <inertial>
      <origin
        xyz="-0.0112314955943565 -0.0286039675413615 -1.11715878294838E-05"
        rpy="0 0 0" />
      <mass
        value="0.638349102221477" />
      <inertia
        ixx="0.00660343462704468"
        ixy="0.000509879575690613"
        ixz="-1.38672783226053E-07"
        iyy="0.00123306116875554"
        iyz="-9.37888227989682E-07"
        izz="0.00662184845151611" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/front_right_suspension.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/front_right_suspension.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_suspension_joint"
    type="fixed">
    <origin
      xyz="-0.222547168247896 -0.126481151069874 -0.0948195310619715"
      rpy="1.57079632679489 -0.557016995263774 -2.35619449019236" />
    <parent
      link="base_link" />
    <child
      link="front_right_suspension" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wheelhub2">
    <inertial>
      <origin
        xyz="0.000667816278970224 0.0687896267946415 0.00128101206637699"
        rpy="0 0 0" />
      <mass
        value="1.44067295324072" />
      <inertia
        ixx="0.00506310485143682"
        ixy="7.17502739943455E-05"
        ixz="0.000312905220905027"
        iyy="0.00157271566079473"
        iyz="0.000144004613983536"
        izz="0.00535198399409951" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/wheelhub2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.650980392156863 0.619607843137255 0.588235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/wheelhub2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheelhub2_joint"
    type="fixed">
    <origin
      xyz="0.0522406456196162 -0.209298599045751 -0.0141421356237302"
      rpy="0.867540921761676 -0.384302376036127 -2.54415175587044" />
    <parent
      link="front_right_suspension" />
    <child
      link="wheelhub2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wheel2">
    <inertial>
      <origin
        xyz="-0.00219915010828053 5.16300668884639E-10 7.31904309381193E-09"
        rpy="0 0 0" />
      <mass
        value="11.5298327680895" />
      <inertia
        ixx="0.135971148628012"
        ixy="-8.99483616882002E-09"
        ixz="-1.27510205227592E-07"
        iyy="0.0976582051486362"
        iyz="2.99378577484077E-14"
        izz="0.0976582051490586" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/wheel2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/wheel2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel2_joint"
    type="fixed">
    <origin
      xyz="0 0.149 0"
      rpy="-0.941525343052591 -1.76898841210831E-06 1.57079915561571" />
    <parent
      link="wheelhub2" />
    <child
      link="wheel2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="back_left_suspension">
    <inertial>
      <origin
        xyz="1.1285131123584E-05 0.110860974610316 0.0439761021107281"
        rpy="0 0 0" />
      <mass
        value="0.630784303601751" />
      <inertia
        ixx="0.0059906966830212"
        ixy="3.12349846869932E-07"
        ixz="-1.46026737200908E-07"
        iyy="0.00155956608256274"
        iyz="0.00073108527294098"
        izz="0.0055624848845345" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/back_left_suspension.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/back_left_suspension.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_left_suspension_joint"
    type="fixed">
    <origin
      xyz="0.305151982546031 0.589087999724031 -0.173901449225758"
      rpy="2.44515641287177 2.22044604925031E-14 -0.785398163397421" />
    <parent
      link="base_link" />
    <child
      link="back_left_suspension" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wheelhub3">
    <inertial>
      <origin
        xyz="0.000667816279177558 0.0687896267946382 0.00128101206625519"
        rpy="0 0 0" />
      <mass
        value="1.44067295324067" />
      <inertia
        ixx="0.00506310485143676"
        ixy="7.17502739843281E-05"
        ixz="0.000312905220905336"
        iyy="0.0015727156607948"
        iyz="0.000144004613989237"
        izz="0.00535198399409852" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/wheelhub3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.650980392156863 0.619607843137255 0.588235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/wheelhub3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheelhub3_joint"
    type="fixed">
    <origin
      xyz="-0.0141421356237031 -0.0748267327173202 0.0331660209391969"
      rpy="-1.61958734151433 -1.09939154597546 -0.59962560316713" />
    <parent
      link="back_left_suspension" />
    <child
      link="wheelhub3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wheel3">
    <inertial>
      <origin
        xyz="-0.00219915010829264 8.32667268468867E-16 1.26565424807268E-14"
        rpy="0 0 0" />
      <mass
        value="11.5298327680895" />
      <inertia
        ixx="0.135971148628439"
        ixy="-1.52758492566675E-14"
        ixz="-2.17575106642274E-13"
        iyy="0.0976582051486341"
        iyz="-1.30104260698261E-18"
        izz="0.0976582051486341" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/wheel3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/wheel3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel3_joint"
    type="fixed">
    <origin
      xyz="0 0.148999999999968 0"
      rpy="-2.51232166984499 -3.90124093617929E-16 1.5707963267949" />
    <parent
      link="wheelhub3" />
    <child
      link="wheel3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="back_right_suspension">
    <inertial>
      <origin
        xyz="1.23496905886089E-05 0.1015505276226 -0.0229263395671127"
        rpy="0 0 0" />
      <mass
        value="0.577449528608868" />
      <inertia
        ixx="0.00522279739062185"
        ixy="7.38258915211935E-07"
        ixz="4.1538425485637E-07"
        iyy="0.00130251372808011"
        iyz="-0.00104094321728589"
        izz="0.00487052554456099" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/back_right_suspension.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/back_right_suspension.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_right_suspension_joint"
    type="fixed">
    <origin
      xyz="-0.298499582055517 0.58243559923345 -0.185166710932959"
      rpy="0.695154595625204 -2.1094237467878E-15 -2.35619449019236" />
    <parent
      link="base_link" />
    <child
      link="back_right_suspension" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wheelhub4">
    <inertial>
      <origin
        xyz="0.000648875833592077 0.0668974362201329 -0.00110756477755181"
        rpy="0 0 0" />
      <mass
        value="1.62631644973838" />
      <inertia
        ixx="0.0053363413890892"
        ixy="7.88101018322586E-05"
        ixz="-0.000332472035984279"
        iyy="0.00187498281661659"
        iyz="-0.000136217807070522"
        izz="0.00551644537926213" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/wheelhub4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.650980392156863 0.619607843137255 0.588235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/wheelhub4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheelhub4_joint"
    type="fixed">
    <origin
      xyz="-0.014142135623732 -0.0747932368639902 -0.0191037450999054"
      rpy="1.7837387836954 1.08900400937611 -0.415575882065863" />
    <parent
      link="back_right_suspension" />
    <child
      link="wheelhub4" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wheel4">
    <inertial>
      <origin
        xyz="-0.0021991501082802 3.23762106013703E-09 -6.67992061664791E-09"
        rpy="0 0 0" />
      <mass
        value="11.5298327680895" />
      <inertia
        ixx="0.135971148628002"
        ixy="-5.64048793230762E-08"
        ixz="1.16375604305996E-07"
        iyy="0.097658205148717"
        iyz="-1.71310882146614E-13"
        izz="0.0976582051489875" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/wheel4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/wheel4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel4_joint"
    type="fixed">
    <origin
      xyz="0 0.149 0"
      rpy="0.47657088949437 2.02369285813618E-06 1.57079902837304" />
    <parent
      link="wheelhub4" />
    <child
      link="wheel4" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="arm_base">
    <inertial>
      <origin
        xyz="3.88578058618805E-16 0.00568125616553261 0.0244953644020127"
        rpy="0 0 0" />
      <mass
        value="0.804371541939684" />
      <inertia
        ixx="0.001859226973918"
        ixy="1.69956527116034E-18"
        ixz="2.35415396938621E-18"
        iyy="0.00218352536184998"
        iyz="-0.000260084597859839"
        izz="0.00245809219381971" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/arm_base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/arm_base.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_base_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="arm_base" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="shoulder">
    <inertial>
      <origin
        xyz="-8.76619166756409E-06 -0.022281868462923 -0.0212175841770852"
        rpy="0 0 0" />
      <mass
        value="1.1071380584266" />
      <inertia
        ixx="0.0299230277521029"
        ixy="-3.18351472291678E-07"
        ixz="-4.59814787855646E-07"
        iyy="0.00275249636957859"
        iyz="-0.00446880594954078"
        izz="0.027662142750081" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/shoulder.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/shoulder.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder_link"
    type="fixed">
    <origin
      xyz="0 -0.182916618378996 0.162385356424993"
      rpy="-0.322072771516715 0 0" />
    <parent
      link="arm_base" />
    <child
      link="shoulder" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="elbow">
    <inertial>
      <origin
        xyz="-0.000615602239353918 0.0782516719234563 0.0936728803553634"
        rpy="0 0 0" />
      <mass
        value="0.166035715211204" />
      <inertia
        ixx="0.00331925900766216"
        ixy="8.52257924684779E-06"
        ixz="4.1801311942006E-06"
        iyy="0.000378709531113929"
        iyz="-0.00051993549603689"
        izz="0.00297927873583906" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/elbow.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/elbow.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow_joint"
    type="fixed">
    <origin
      xyz="0.133699999999988 -0.392874599264092 -0.317090599642554"
      rpy="1.57079632679489 -0.149891544267809 -1.57079632679491" />
    <parent
      link="shoulder" />
    <child
      link="elbow" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="gripper">
    <inertial>
      <origin
        xyz="0.364477793899721 0.0972191017928105 -0.0397789279287276"
        rpy="0 0 0" />
      <mass
        value="0.594133157422378" />
      <inertia
        ixx="0.00485804198706614"
        ixy="0.000463351246160372"
        ixz="2.05614454926984E-05"
        iyy="0.000711003705876188"
        iyz="0.000132119825567015"
        izz="0.0052879210944542" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/gripper.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aspha19/meshes/gripper.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gripper_joint"
    type="fixed">
    <origin
      xyz="-0.384813195111925 0.0940082421960092 0.133485059550097"
      rpy="-3.10512103756627 0.0908898808657066 -0.449513524192706" />
    <parent
      link="elbow" />
    <child
      link="gripper" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>