

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a target="_blank" rel="sponsored noopener noreferrer" 
             href="https://appseed.us/admin-dashboards/django-dashboard-black" class="simple-text logo-mini">
            {% load static %} 
            <img src="{% static 'assets/img/logo_20_without_bg.png' %}" alt="MRT" />
          </a>
          <a target="_blank" rel="sponsored noopener noreferrer" 
             href="https://appseed.us/admin-dashboards/django-dashboard-black" class="simple-text logo-normal">
            Django-ROS GUI
          </a>
        </div>

        <ul class="nav">
        {% if request.user.is_authenticated %}

          <li class="{% if 'index' in segment %} active {% endif %}">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="{% if 'autonomous' in segment %} active {% endif %}">
            <a href="/autonomous.html">
              <i class="tim-icons icon-compass-05"></i>
              <p>Autonomous</p>
            </a>
          </li>
          <li class="{% if 'piloting' in segment %} active {% endif %}">
            <a href="/piloting.html">
              <i class="tim-icons icon-controller"></i>
              <p>Pilot</p>
            </a>
          </li>
          <li class="{% if 'robotic_arm' in segment %} active {% endif %}">
            <a href="/robotic_arm.html">
              <i class="tim-icons icon-controller"></i>
              <p>Robotic Arm</p>
            </a>
          </li>
          <li class="{% if 'comms' in segment %} active {% endif %}">
            <a href="/comms.html">
              <i class="tim-icons icon-wifi"></i>
              <p>Comms</p>
            </a>
          </li>
          <li class="{% if 'maps' in segment %} active {% endif %}">
            <a href="/ui-maps.html">
              <i class="tim-icons icon-square-pin"></i>
              <p>Maps</p>
            </a>
          </li>
          <li class="{% if 'panorama' in segment %} active {% endif %}">
            <a href="/panorama.html">
              <i class="tim-icons icon-camera-18"></i>
              <p>Panorama-Feed</p>
            </a>
          <li class="{% if 'camera' in segment %} active {% endif %}">
            <a href="/camera.html">
              <i class="tim-icons icon-camera-18"></i>
              <p>Camera-Feed</p>
            </a>
          </li>
          <li class="{% if 'bio' in segment %} active {% endif %}">
            <a href="/bio-new.html">
              <i class="tim-icons icon-molecule-40"></i>
              <p>Bio-GUI</p>
            </a>
          </li>
          <li class="{% if 'rock' in segment %} active {% endif %}">
            <a href="/rock_db.html">
              <i class="tim-icons icon-molecule-40"></i>
              <p>Stratigraphic database</p>
            </a>
          </li>
          <!-- <li class="{% if 'icons' in segment %} active {% endif %}">
            <a href="/ui-icons.html">
              <i class="tim-icons icon-atom"></i>
              <p>Icons</p>
            </a>
          </li>
          <li class="{% if 'notifications' in segment %} active {% endif %}">
            <a href="/ui-notifications.html">
              <i class="tim-icons icon-bell-55"></i>
              <p>Notifications</p>
            </a>
          </li> -->
          <!-- <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href="/page-user.html">
              <i class="tim-icons icon-single-02"></i>
              <p>User Profile</p>
            </a>
          </li> -->
          <!-- <li class="{% if 'typography' in segment %} active {% endif %}">
            <a href="/ui-typography.html">
              <i class="tim-icons icon-align-center"></i>
              <p>Typography</p>
            </a>
          </li> -->
          <!-- <li class="{% if 'rtl-support' in segment %} active {% endif %}">
            <a href="/page-rtl-support.html">
              <i class="tim-icons icon-world"></i>
              <p>RTL Support</p>
            </a>
          </li> -->
          <li>
            <a href="{% url 'logout' %}" >
              <i class="tim-icons icon-button-power"></i>
              <p>Logout</p>
            </a>
          </li>
          {% else %}
          <li class="active">
            <a target="_blank" 
               href="https://appseed.us/admin-dashboards/django-dashboard-black-pro">
              <i class="tim-icons icon-spaceship"></i>
              <p>PRO Version</p>
            </a>
          </li>   
          {% endif %}
                    
        </ul>
        
      </div>
    </div>
