{% extends "layouts/base.html" %}

{% block title %} Bio-GUI {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <!-- <div class="col-md-12"> -->
  <!--   <div class="card "> -->
  <!--     <div class="card-header"> -->
  <!--       <h4 class="card-title"> BioSensor Data</h4> -->
  <!--     </div> -->
  <!--     <div class="card-body"> -->
  <!--       <div class="table-responsive"> -->
  <!--         <table class="table tablesorter " id=""> -->
  <!--           <thead class=" text-primary"> -->
  <!--             <tr> -->
  <!--               <th> -->
  <!--                 Physical Quantity -->
  <!--               </th> -->
  <!--               <th> -->
  <!--                 Value -->
  <!--               </th> -->
  <!--               <th> -->
  <!--                 Mean -->
  <!--               </th> -->
  <!--             </tr> -->
  <!--           </thead> -->
  <!--           <tbody> -->
  <!--             <tr> -->
  <!--               <td> -->
  <!--                 Temperature: --> 
  <!--               </td> -->
  <!--               <td> -->
  <!--                 {{temp}}28.4 &#8451; -->
  <!--               </td> -->
  <!--               <td> -->
  <!--                 {{temp_mean}}28.4 &#8451; -->
  <!--               </td> -->
  <!--             </tr> -->
  <!--           </tbody> -->
  <!--         </table> -->
  <!--       </div> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->


  <!-- <div class="col-12"> -->
  <!--       <div class="card card-chart"> -->
  <!--         <div class="card-header "> -->
  <!--           <div class="row"> -->
  <!--             <div class="col-sm-6 text-left"> -->
  <!--               <h5 class="card-category">Bio-Sensor data</h5> -->
  <!--               <h2 class="card-title">Graphs</h2> -->
  <!--             </div> -->
  <!--             <div class="col-sm-6"> -->
  <!--               <div class="btn-group btn-group-toggle float-right" data-toggle="buttons"> -->
  <!--                 <label class="btn btn-sm btn-primary btn-simple active" id="0"> -->
  <!--                   <input type="radio" name="options" checked> -->
  <!--                   <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Temperature &#8451;</span> -->
  <!--                   <span class="d-block d-sm-none"> -->
  <!--                     <i class="tim-icons icon-single-02"></i> -->
  <!--                   </span> -->
  <!--                 </label> -->
  <!--                 <!-1- <label class="btn btn-sm btn-primary btn-simple" id="1"> -1-> -->
  <!--                 <!-1-   <input type="radio" class="d-none d-sm-none" name="options"> -1-> -->
  <!--                 <!-1-   <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Methane ppm</span> -1-> -->
  <!--                 <!-1-   <span class="d-block d-sm-none"> -1-> -->
  <!--                 <!-1-     <i class="tim-icons icon-gift-2"></i> -1-> -->
  <!--                 <!-1-   </span> -1-> -->
  <!--                 <!-1- </label> -1-> -->
  <!--                 <!-1- <label class="btn btn-sm btn-primary btn-simple" id="2"> -1-> -->
  <!--                 <!-1-   <input type="radio" class="d-none" name="options"> -1-> -->
  <!--                 <!-1-   <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Humidity %</span> -1-> -->
  <!--                 <!-1-   <span class="d-block d-sm-none"> -1-> -->
  <!--                 <!-1-     <i class="tim-icons icon-tap-02"></i> -1-> -->
  <!--                 <!-1-   </span> -1-> -->
  <!--                 <!-1- </label> -1-> -->
  <!--               </div> -->
  <!--             </div> -->
  <!--           </div> -->
  <!--         </div> -->
  <!--         <div class="card-body"> -->
  <!--           <div class="chart-area"> -->
  <!--             <canvas id="chartBig1"></canvas> -->
  <!--           </div> -->
  <!--         </div> -->
  <!--       </div> -->
  <!--     </div> -->

  <div class="col-md-12">
    <div class="card  card-plain">
      <div class="card-header">
        <h4 class="card-title"> Bio-Controls</h4>
        <p class="category">Controls for Collection, Transfer, and Microscope</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            
            
          <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="collection" value="dummy" style="display: none;"></input> <!-- this dummy button gets sent when text input is entered -->
            <thead class=" text-primary">
              <tr>
                <th>
                  Collection
                </th>
                <th>
                </th>
                <th>
                  
                </th>
                <th>
                  
                </th>
              </tr>
            </thead>
              <tbody>
              <tr>
                <td>
                  Gripper:
                </td>
                  <td>
                      <!-- <input type="submit" name="collection" value="gripper" class="btn btn-sm"></input> -->
                  <input type="text" name="collection" value={{ gripper }} ></input>
                  </td>
              </tr>
              
              <tr>
                <td>
                  Arm_rotation:
                </td>
                <td>
                  <input type="text" name="collection" value={{ arm_rotation }} ></input>
                </td>
                <td>
                </td>
                <td>
                </td>
              </tr>
              <tr>
                <td>
                  Arm_vertical:
                </td>
                <td>
                  <input type="text" name="collection" value={{ arm_vertical }} ></input>
                </td>
                <td>
                </td>
                <td>
                </td>
              </tr>
            </tbody>
          </form><form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="transfer" value="dummy" style="display: none;"></input> <!-- this dummy button gets sent when text input is entered -->
            <thead class=" text-primary">
              <tr>
                <th>
                  Transfer
                </th>
                <th>
                </th>
                <th>
                  
                </th>
                <th>
                  
                </th>
              </tr>
            </thead>
              <tbody>
              <tr>
                  <td>
                      <input type="submit" name="transfer" value="pump_valve1" class="btn btn-sm"></input>
                  </td>
                  <td>
                      <input type="submit" name="transfer" value="pump_valve2" class="btn btn-sm"></input>
                  </td>
              </tr>
              <tr>
                <td>
                  Linear_guide:
                </td>
                <td>
                  <input type="text" name="transfer" value={{ linear_guide }} ></input>
                </td>
                <td>
                </td>
                <td>
                </td>
              </tr>
            </tbody>
          </form>
          <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="microscope" value="dummy" style="display: none;"></input> <!-- this dummy button gets sent when text input is entered -->
            <thead class=" text-primary">
              <tr>
                <th>
                  Microscope
                </th>
                <th>
                </th>
                <th>
                  
                </th>
                <th>
                  
                </th>
              </tr>
            </thead>
              <tbody>
              <tr>
                  <td>
                      <input type="submit" name="microscope" value="water_valve" class="btn btn-sm"></input>
                  </td>
                  <td>
                      <input type="submit" name="microscope" value="chem_valve" class="btn btn-sm"></input>
                  </td>
              </tr>
              <tr>
                <td>
                      <input type="submit" name="microscope" value="laser" class="btn btn-sm"></input>
                </td>
                <td>
                </td>
                <td>
                </td>
              </tr>
            </tbody>
          </form>
          
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      bio.initDashboardPageCharts();

    });
    var URL = "{{ request.path }}";
    // custom bio script for reload
    // 
    var data = {}
    setInterval(function (){
      $('.on-off').each(function(i, obj) {
        data[obj.value] = obj.checked
      });
      data['biosensor'] = 'True'
      $.post(URL, data);
      $('#sensor').load(document.URL +  ' #sensor')
      // $('#microscope_1').load(document.URL +  ' #microscope_1');
      // $('#stewart').load(document.URL +  ' #stewart');
      // $('.update').each(function(){
      //   $(this.id).load(document.URL + ' ' + $(this).attr('id'));
      //   console.log($(this.id))
      // })
      // for(let i = 1; i<3; i++){
        // $('#stewart_'+i.toString()).load(document.URL +  ' #stewart_'+i.toString());
      // }
      // $("#stewart").load(" #stewart > *");
      }, 1/5 * 100000);
  </script>
{% endblock javascripts %}
