{% extends "layouts/base.html" %}

{% block title %} Maps {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card card-plain h-100">
      <div class="card-header">
        Camera-Feed
      </div>
      <div class="row">
          <div class="col-lg-4 h-95">
              <div class="card card-chart h-100">
                  <div class="card-header">
                      <h5 class="card-category">Left Camera</h5>
                  </div>
                  <div class="card-body h-100">
                      <div class="video h-100" ><img class="h-100" src="{% url 'left_feed' %}" width="720" height="540"></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="card card-chart h-50">
                  <div class="card-header">
                      <h5 class="card-category">Front Down Camera</h5>
                  </div>
                  <div class="card-body">
                      <div class="video" ><img src="{% url 'front_down_feed' %}" width="720" height="540"></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="card card-chart h-100">
                  <div class="card-header">
                      <h5 class="card-category">Right Camera</h5>
                  </div>
                  <div class="card-body h-100">
                      <div class="video h-100" ><img class="h-100" src="{% url 'right_feed' %}" width="720" height="540"></div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  
{% endblock javascripts %}
