{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Rocks {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        Limestone
      </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Limestone</h5>
          </div>
          <div class="card-body">
              <div class="video" ><img src="{% static 'rocks/limestone.jpg' %}" width="720" height="540"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Stratigraphic Profile</h5>
          </div>
          <div class="card-body">
              <div class="video" ><img src="{% static 'rocks/limestat.png' %}" width="720" height="540"></div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        Basalt
      </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Basalt</h5>
          </div>
          <div class="card-body">
              <div class="video" ><img src="{% static 'rocks/basalt.jpg' %}" width="720" height="540"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Stratigraphic Profile</h5>
          </div>
          <div class="card-body">
              <div class="video" ><img src="{% static 'rocks/basaltstat.jpg' %}" width="720" height="540"></div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        Granite
      </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Granite</h5>
          </div>
          <div class="card-body">
              <div class="video" ><img src="{% static 'rocks/granite.jpg' %}" width="720" height="540"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Stratigraphic Profile</h5>
          </div>
          <div class="card-body">
              <div class="video" ><img src="{% static 'rocks/granstat.png' %}" width="720" height="540"></div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        Sandstone
      </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Sandstone</h5>
          </div>
          <div class="card-body">
              <div class="video" ><img src="{% static 'rocks/sandstone.jpg' %}" width="720" height="540"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Stratigraphic Profile</h5>
          </div>
          <div class="card-body">
              <div class="video" ><img src="{% static 'rocks/sandstat.png' %}" width="720" height="540"></div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  
{% endblock javascripts %}
